@font-face {
  font-family: "Vazirmatn";
  src: url("../fonts/webfonts/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("../fonts/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam.eot");
  src: url("../fonts/shabnam/Shabnam.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shabnam/Shabnam.woff2") format("woff2"),
    url("../fonts/shabnam/Shabnam.woff") format("woff"),
    url("../fonts/shabnam/Shabnam.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam-Bold.eot");
  src: url("../fonts/shabnam/Shabnam-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/shabnam/Shabnam-Bold.woff2") format("woff2"),
    url("../fonts/shabnam/Shabnam-Bold.woff") format("woff"),
    url("../fonts/shabnam/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam-Thin.eot");
  src: url("../fonts/shabnam/Shabnam-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/shabnam/Shabnam-Thin.woff2") format("woff2"),
    url("../fonts/shabnam/Shabnam-Thin.woff") format("woff"),
    url("../fonts/shabnam/Shabnam-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam-Light.eot");
  src: url("../fonts/shabnam/Shabnam-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/shabnam/Shabnam-Light.woff2") format("woff2"),
    url("../fonts/shabnam/Shabnam-Light.woff") format("woff"),
    url("../fonts/shabnam/Shabnam-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam-Medium.eot");
  src: url("../fonts/shabnam/Shabnam-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/shabnam/Shabnam-Medium.woff2") format("woff2"),
    url("../fonts/shabnam/Shabnam-Medium.woff") format("woff"),
    url("../fonts/shabnam/Shabnam-Medium.ttf") format("truetype");
  font-weight: 500;
}

/* Styling Markdown */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Vazirmatn RD", IRANSansX, Arial, sans-serif;
}

code {
  display: inline-block;
  direction: ltr;
}
h1 {
  font-size: 2.75rem !important; /* 44px */
  line-height: 1.2 !important;
}

h2 {
  font-size: 2.5rem !important; /* 40px */
  line-height: 1.3 !important;
}

h3 {
  font-size: 2rem !important; /* 32px */
  line-height: 1.4 !important;
}

h4 {
  font-size: 1.75rem !important; /* 28px */
  line-height: 1.4 !important;
}

h5 {
  font-size: 1.625rem !important; /* 26px */
  line-height: 1.5 !important;
}

h6 {
  font-size: 1.5rem !important; /* 24px */
  line-height: 1.5 !important;
}

p {
  font-size: 1.5rem !important; /* 24px */
  line-height: 1.6 !important;
}

/* Style links */
.text_cell_render a {
  text-decoration: none !important; /* Remove underline */
  position: relative; /* Required for positioning the icon */
  color: inherit; /* Link color */
  padding-left: 0.2em; /* Add space for the icon */
}

/* Add the icon before the link using Unicode */
.text_cell_render a::before {
  content: "\01F517"; /* Unicode arrow symbol */
  position: absolute; /* Position the icon */
  left: -0.1em; /* Align with the left edge of the link */
  font-size: 0.9rem; /* Size of the icon */
  line-height: 1; /* Align with the text */
  color: #007bff; /* Icon color */
}

.text_cell_render a:hover {
  color: #0056b3; /* Change color on hover */
}
